<div class="container">
  <button type="submit" class="btn btn-primary mt-2 mb-2" (click)='exportCSV()'>Export csv</button>
  <div class="table-responsive">
    <table class="table align-middle table-bordered table-sm">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">NAME</th>
          <th scope="col">SOURCE</th>
          <th scope="col">FORMAT</th>
          <th scope="col">ORIGINAL</th>
          <th scope="col">TIME</th>
          <th scope="col">SIZE</th>
          <th scope="col">MD5</th>
          <th scope="col">CRC32</th>
          <th scope="col">SHA1</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let file of data?.files; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <th scope="row">{{ file.name }}</th>
          <th scope="row">{{ file.source }}</th>
          <th scope="row">{{ file.format }}</th>
          <th scope="row">{{ file.original }}</th>
          <th scope="row">{{ file.mtime }}</th>
          <th scope="row">{{ file.size }}</th>
          <th scope="row">{{ file.md5 }}</th>
          <th scope="row">{{ file.crc32 }}</th>
          <th scope="row">{{ file.sha1 }}</th>
        </tr>
      </tbody>
    </table>
  </div>
</div>
